<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nodejs Demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Nicketa Kumar @github.com/nicks9188">
		<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Ubuntu&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="shortcut icon" href="img/page.ico"/>
    </head>
    <body>
        <div align="center" style="background-color:crimson">
			<div align="center" class="header">
                <p class="logo-name"><i class="fas fa-forward"></i>&nbsp;Test Page</p>
            </div>
			<br>
			<br>
			<h1>Success!!! Great Job&nbsp;&nbsp;<i class="far fa-thumbs-up"></i></h1>
			<br>
            <p><a class=btn href="index.html" role="button"><i class="fas fa-step-backward"></i>&nbsp;Go Back</a>
			<br>
			<br>
			<br>
        </div>
        <!-- Footer section start -->
	    <footer class="footer-section">
            <div class="text-center">
				<div class="copyright">
                <script>document.write(new Date().getFullYear());</script> All rights reserved &copy;<i class="fa fa-heart-o" aria-hidden="true"></i> by Nicketa {https://nicks9188.github.io/me/}
				</div>
            </div>
        </footer>
        <!-- Footer section end -->
    </body>
</html>